<div class="size">

    <img src='/assets/icon.png'
    style="width: 12%; height: 70%; margin-top: 15px; margin-left: 50px; float: left;" alt='image'>
    <div style="margin-left: 7%; width: 50%; float: left;">
<a routerLink="/" routerLinkActive="active"><div class="spacing" ><h2 style="font-family: 'Arial';">   Home </h2></div></a>
<a routerLink="/about" routerLinkActive="active"><div class="spacing"><h2>About Us</h2></div></a>  

<a routerLink="/contact" routerLinkActive="active"><div class="spacing"><h2> Contact </h2></div></a>
</div>
<div style="float: right; margin-top: 32px; margin-right: 20px; font-family: 'Arial';color: #203670; font-size: 80%">
    <b>Phone:</b> (843) 343-4338

    <br>
    <b>Email:</b> jspell@g.clemson.edu


</div>

</div>

