<app-header></app-header>

<div style="padding: 300px;">
<h3 style="font-family: 'Arial'; color: #203670;">
Jake graduated from Clemson University in 2018 with a BS in Construction Science and Management.
Jake has worked hands on in residential construction his entire life, but started to gain more knowledge
about the commercial industry while at Clemson. After graduating Jake worked as a site manager in
residential construction and worked alongside his dad, Ricky Spell, as a CMA in commercial construction
projects such as big renoavtions/new builds. Ricky has over 30 years of various construction experience
and is known for his quality craftsmanship and attention to detail. Jake and Ricky have a passion for
construction and want to take their passion and provide it to owners for their building projects. Giving
owners peace of mind and reassurance that their project is in the best possible hands, bridging the gap
between contractor and owner making sure the owner understands every stage of the process and is
protected.</h3></div>

